html, body {
  font-family: monospace;
  font-size: 14px;
  line-height: 18px; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.header {
  float: right;
  margin: 8px; }
  .header .header_sub {
    text-decoration: none;
    margin: 0 auto; }

.absolute {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .absolute .login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px; }
    .absolute .login-form .title {
      margin: 20px;
      text-decoration: none;
      color: white;
      font-family: serif; }

.login-signup {
  margin: 10px; }

.enter {
  opacity: 0.5;
  color: white;
  background: none;
  font-size: 20px;
  margin: 20px;
  padding: 3px;
  box-sizing: border-box; }

.btn1 {
  border: none;
  background-color: #FFFF6C;
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 18px;
  font-family: monospace; }

.btn2 {
  border: none;
  background-color: #CCA63D;
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 18px;
  font-family: monospace; }
