.btn {
  padding: 4px 10px;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
}

.btn-lg {
  font-size: 14px;
  padding: 9px 18px;
}

.btn-xs {
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 1px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  border: 1px solid #3897f0;
  background-color: #3897f0;
  color: white;
}

.btn-red {
  border: 1px solid #fe163f;
  background-color: #fe163f;
  color: white;
}

.btn-main {
  font-size: 12px;
  line-height: 12px;
  height: 25px;
  box-sizing: border-box;
}
