.container { max-width: 500px; margin: auto; text-align: center; }

.login-content { margin: auto; width: 200px; margin-top: -120px; margin-left: -100px; position: fixed; top: 50%; left: 50%; }

.btn-container { vertical-align: middle; }

.signup-form, .login-form, .result { margin: auto; width: 200px; margin-top: -140px; margin-left: -100px; position: fixed; top: 50%; left: 50%; }

.signup-form input, .login-form input, .result input { width: 150px; }

h3 { font-size: 30px; margin: 0; padding-top: 20px; padding-bottom: 10px; }

.login-form-main { margin: 10px auto; }

#map { color: black; }

.map-content { margin-top: 30px; }

.fieldset { margin: 10px 0; }
