.container {
  max-width: 500px;
  margin: auto;
  text-align: center; }

.login-content {
  margin: auto;
  width: 200px;
  margin-top: -120px;
  margin-left: -100px;
  position: fixed;
  top: 50%;
  left: 50%; }

.attendance_list {
  margin-top: 30px;
  text-align: center; }

.btn-container {
  vertical-align: middle; }

.signup-form {
  margin: auto;
  width: 200px;
  margin-top: -180px;
  margin-left: -100px;
  position: fixed;
  top: 50%;
  left: 50%; }
  .signup-form input {
    width: 180px; }

.login-form {
  margin: auto;
  width: 200px;
  margin-top: -140px;
  margin-left: -100px;
  position: fixed;
  top: 50%;
  left: 50%; }
  .login-form input {
    width: 150px; }

.result {
  margin: auto;
  width: 400px;
  margin-top: -140px;
  margin-left: -200px;
  position: fixed;
  top: 50%;
  left: 50%; }
  .result input {
    width: 150px; }

h3 {
  font-size: 30px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px; }

.login-form-main {
  margin: 10px auto; }

#map {
  color: black; }

.map-content {
  margin-top: 30px; }

.fieldset {
  margin: 10px 0; }

.error {
  font-size: 30px; }

.result {
  font-size: 30px;
  line-height: 40px; }

table {
  margin-top: 20px; }

table, th, td {
  font-size: 18px;
  border: 2px solid white;
  border-collapse: collapse; }

th, td {
  padding: 10px 20px;
  text-align: center; }
